<launch>
  <node name="force_sensor_node" pkg="phidget_ros_drivers" type="phiget_force_sensor.py" output="screen">
    <param name="calibration_file_0" value="$(find phidget_ros_drivers)/config/sensor_0.yaml" />
    <param name="calibration_file_1" value="$(find phidget_ros_drivers)/config/sensor_1.yaml" />
    <param name="calibration_file_2" value="$(find phidget_ros_drivers)/config/sensor_2.yaml" />
    <param name="calibration_file_3" value="$(find phidget_ros_drivers)/config/sensor_3.yaml" />
  </node>
</launch>
